<html>
  <head>
    <style>
      .contact-wrapper {
        padding:20px;
        border:3px black solid;
        width:250px;
      }
      p {
        font-family:helvetica;
        font-size: 16px;
      }
    </style>
  </head>
  <body>
    <div class="page-title">
      <h1>Marionette - Excercise</h1>
    </div>

    <div class="target">

      <script id="template" type="text/template">
        <div class="contact-wrapper">
          <p>First Name: <%- firstName %></p>
          <p>Last Name: <%- lastName%></p>
          <button class="button">Delete</button>
        </div>
      </script>

    </div>

    <!-- build:js js/jquery.min.js -->
      <script src="../bower_components/jquery/dist/jquery.js"></script>
    <!-- /build -->

    <!-- build:js js/underscore-min.js -->
      <script src="../bower_components/underscore/underscore.js"></script>
    <!-- /build -->

    <!-- build:js js/backbone-min.js -->
      <script src="../bower_components/backbone/backbone.js"></script>
    <!-- /build -->

    <!-- build:js js/backbone.marionette.min.js -->
      <script src="../bower_components/backbone.marionette/lib/backbone.marionette.js"></script>
    <!-- /build -->

    <!-- build:js js/bootstrap.min.js -->
      <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- /build -->
    
    <!-- build:js js/main.min.js -->
      <script src="js/main.js"></script>
    <!-- /build -->
  </body>
</html>